.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid rgb(255, 193, 111);
    font: inherit;
    border-radius: 2px;            
}

button {
    font:inherit;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(141, 50, 141);
    color: white;
}